@import './styles/base.css';

@import './styles/layout.css';

@import './styles/forms.css';

@import './styles/buttons.css';

@import './styles/typography.css';

@import './styles/pages.css';

@import './styles/toast.css';

@import './styles/auth.css';   /* <-- добавили */