:root{

  --color-primary:#0f172a;

  --color-accent:#3b82f6;

  --color-text:#1e293b;

  --color-muted:#64748b;

  --color-bg:#f8fafc;

  --radius:10px;



  /* высота хедера как переменная */

  --header-h:64px;

}



*{ box-sizing:border-box; }

html,body{ height:100%; }



body{

  font-family:'Inter', system-ui, sans-serif;

  font-size:16px;            /* чтобы iOS не зумил инпуты */

  color:var(--color-text);

  background:var(--color-bg);

  margin:0;



  -webkit-font-smoothing:antialiased;

  -moz-osx-font-smoothing:grayscale;

  -webkit-text-size-adjust:100%;

  text-rendering:optimizeLegibility;

  overscroll-behavior:y none;

  -webkit-tap-highlight-color: rgba(0,0,0,0);

}



/* мобайл: понижаем хедер */

@media (max-width: 640px){

  :root{ --header-h:56px; }

}

