:root{

  --color-primary:#0f172a;

  --color-accent:#3b82f6;

  --color-text:#1e293b;

  --color-muted:#64748b;

  --color-bg:#f8fafc;

  --radius:10px;



  --header-h:64px;

}



*{ box-sizing:border-box; }

html,body{ height:100%; }

html,body{ overflow-x:hidden; }          /* убираем горизонтальный скролл */



body{

  font-family:'Inter', system-ui, sans-serif;

  font-size:16px;

  color:var(--color-text);

  background:var(--color-bg);

  margin:0;



  -webkit-font-smoothing:antialiased;

  -moz-osx-font-smoothing:grayscale;

  -webkit-text-size-adjust:100%;

  text-rendering:optimizeLegibility;

  -webkit-tap-highlight-color:transparent;

}



/* мобайл */

@media (max-width:640px){

  :root{ --header-h:56px; }

}