.btn {

  display: inline-block;

  padding: 10px 16px;

  border-radius: var(--radius);

  border: none;

  cursor: pointer;

  font-weight: 500;

  text-decoration: none;

  text-align: center;

  transition: background 0.2s ease, color 0.2s ease, opacity 0.2s;

}



.btn-primary {

  background: var(--color-primary);

  color: #fff;

}



.btn-light {

  background: #e7f0fd;

  color: var(--color-primary);

}



.btn:hover {

  opacity: 0.9;

}

